<p id="notice"><%= notice %></p>

<div class="container px-4">
  <h1>Tweets</h1>

    <div class="container justify-content-center px-4">
        <!-- Tweets -->
        <% @tweets.reverse.each do |tweet| %>
            <div class="my-4 media">
                <%= image_tag tweet.user.profile_picture, class: "mr-3 imgRedonda", alt: "Image profile" %>
                <div class="media-body tweet">
                    <!-- Condicional de retweets-->
                    <%if tweet.is_rt %>
                        <p class="nombre"><%= tweet.user.name %> ha retwitteado</p>
                        <div class="media mt-3">
                            <%= image_tag tweet.user_tw_origin(tweet.origin_id).profile_picture, class: "mr-3 imgRedondart", alt: "Image profile" %>
                            <div class="media-body rt">
                                <h6><%= tweet.user_tw_origin(tweet.origin_id).name %></h6>
                                <p><%= tweet.content.html_safe %></p>
                            </div>
                        </div>
                    <% else %>
                        <p class="nombre"><%= tweet.user.name %></p>
                        <p><%= tweet.content.html_safe %></p>
                    <% end %>
                    <!-- Vista para likes-->
                    <%if tweet.like_count > 0 %>
                        <%= tweet.like_count %>
                    <% end %>
                    <%if current_user %>
                        <%if tweet.user_like?(current_user.id) %>
                            <i><%= link_to '' , like_path({id: tweet.id_like(current_user.id)}), method: :delete, class: "fas fa-heart icons text-decoration-none pr-2" %></i>
                        <% else %>
                            <i><%= link_to '' , likes_path(like: {tweet_id: tweet.id}, remote: true), method: :post, class: "far fa-heart icons text-decoration-none pr-2" %></i>
                        <% end %>
                    <% else %>
                        <i class= "far fa-heart icons pr-2"></i>
                    <%end%>

                    <!-- Vista para retweets-->
                    <%if not tweet.is_rt %>
                        <% rt_count = tweet.retweet_count(tweet.id) %>
                        <%if rt_count > 0 %>
                            <%= rt_count %>
                        <% end %>
                    <% end %>
                    <%if current_user %>
                        <i><%= link_to '' , tweets_path(tweet: {origin_id: tweet.id, is_rt: true, content: tweet.content }, remote: true), method: :post, class: "fas fa-retweet icons text-decoration-none" %><i>
                    <% else %>
                        <i class= "fas fa-retweet icons"></i>
                    <% end %>

                    <!-- Vista para fecha-->
                    <br>
                    <%= link_to "Hace #{tweet.time_tweet(tweet.created_at)}", tweet_path(tweet), class: "tiempo text-decoration-none" %>
                    <!-- Vista para seguir-->
                    <%if current_user && current_user!=tweet.user %> 
                    <% friend = tweet.user_follow(current_user.id) %>
                        <%if friend != nil %>
                            <%= link_to "Dejar de seguir", friend_path({id: friend.id}), method: :delete, class: "pt-2 float-right text-decoration-none" %>
                        <% else %>
                            <%= link_to "Seguir", friends_path(friend: {user_id: tweet.user}, remote: true), method: :post, class: "pt-2 float-right text-decoration-none" %>
                        <% end %>
                    <%end%>
                </div>
            </div>
        <% end %>
    </div>
</div>
