<% if current_user %>
    <%= render 'tweets/form', tweet: @tweet %>
<% end %>

<div class="container row">
    <% @tweets.each do |tweet| %>
        <div class="col-12 my-4 media">
            <img src="<%= tweet.user.profile_picture %>" class="mr-3" alt="Image profile"  width="64" height="86">
            <div class="media-body">

                <h5 class="mt-0"><%= tweet.user.name %></h5>
                <p><%= tweet.content %></p>

                <%if tweet.like_count > 0 %>
                    <%= tweet.like_count %>
                <% end %>
                <%if current_user %>
                    <%if tweet.user_like?(current_user.id) %>
                        <i><%= link_to '' , like_path({id: tweet.id_like(current_user)}), method: :delete, class: "fas fa-heart" %></i>
                    <% else %>
                        <i><%= link_to '' , likes_path(like: {tweet_id: tweet.id}, remote: true), method: :post, class: "far fa-heart" %></i>
                    <% end %>
                <% else %>
                    <i class= "far fa-heart"></i>
                <%end%>
                <%if not tweet.is_rt %>
                    <% rt_count = tweet.retweet_count(tweet.id) %>
                    <%if rt_count > 0 %>
                        <%= rt_count %>
                    <% end %>
                <% end %>
                <i><%= link_to '' , tweets_path(rt: {origin_id: tweet.user_id, is_rt: true, content: tweet.content }, remote: true), method: :post, class: "fas fa-retweet" %><i>
            </div>
        </div>
    <% end %>
</div>

<div class="row">
    <div class="col-md-8 offset-md-2">
    <%= link_to_next_page @tweets, 'Mostrar más tweets' %>
    </div>
</div>
