
<div class="container row">
    <% @tweets.reverse.each do |tweet| %>
        <div class="col-12 my-4 media">
            <img src="<%= tweet.user.profile_picture %>" class="mr-3" alt="Image profile"  width="64" height="86">
            <div class="media-body">
                <h5 class="mt-0"><%= tweet.user.name %></h5>
                <p><%= tweet.content %></p>
                <%if tweet.like_count > 0 %>
                    <%= tweet.like_count %>
                <% end %>
                <i class="far fa-heart"></i>
                <%if not tweet.is_rt %>
                    <% rt_count = tweet.retweet_count(tweet.id) %>
                    <%if rt_count > 0 %>
                        <%= rt_count %>
                    <% end %>
                <% end %>
                <i class="fas fa-retweet"></i>
            </div>
        </div>
    <% end %>
</div>


